{% extends 'base.html.twig' %}
{% block title %}Hello ProfileController!{% endblock %}
{% block header %}
    {% include "_parts/_header.html.twig" %}
{% endblock %}
{% block body %}
    <div class="flex flex-col items-start pl-[7%] pt-20">
        <div class="flex flex-col items-center">
            <img src="{{ asset('/images/user.png') }}" alt="Image user" class="rounded-full w-80 h-80 mb-4">
            <div class="text-center">
                <h1 class="text-5xl font-bold">{{ user.lastname|upper }} {{ user.firstname|capitalize }}</h1>
            </div>
            <h2 class="text-4xl">🖍 {{user.section.label}} </h2>
        </div>
    </div>
    {% include "_parts/_navbar.html.twig" %}
{% endblock %}