{% extends 'base.html.twig' %}

{% block title %}Modifier ce projet{% endblock %}

{% block body %}

    <h1 class="container">Modifier ce projet</h1>

    {{ include('posts/_form.html.twig', {'button_label': '✓ Mettre à jour'}) }}


{% endblock %}
