{# {% extends 'base.html.twig' %}

{% block title %}New Ads{% endblock %}

{% block body %}
    <h1>Create new Ads</h1>

    {{ include('posts/_form.html.twig') }}

    <a href="{{ path('app_posts_index') }}">back to list</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Nouveau projet
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center h-screen pt-14">
		<img src="{{ asset('images/logo.png') }}" alt="Logo Kigo" class="w-96 pb-14">
		<div class="bg-logo rounded-lg shadow-lg p-8 w-[90%]">
			<h1 class="text-7xl font-bold justify-center flex py-14">Nouveau projet</h1>
			{% include "posts/_form.html.twig" %}
		</p>
	</div>
		{% include "_parts/_navbar.html.twig" %}
</div>{% endblock %}
